In [6]:
import pandas as pd

In [10]:
# 파일불러오기
human_seoul = pd.read_csv('행정안전부_지역별(행정동) 성별 연령별 주민등록 인구수_20230430.csv',encoding='cp949')

,행정기관코드,기준연월,시도명,시군구명,읍면동명,계,남자,여자,만0세남자,만1세남자,...,만101세여자,만102세여자,만103세여자,만104세여자,만105세여자,만106세여자,만107세여자,만108세여자,만109세여자,만110세이상여자
0,1111051500,2023-04-30,서울특별시,종로구,청운효자동,11531,5280,6251,17,21,...,0,1,0,0,0,0,0,0,0,0
1,1111053000,2023-04-30,서울특별시,종로구,사직동,9104,4047,5057,13,19,...,0,0,0,0,0,0,0,0,0,0
2,1111054000,2023-04-30,서울특별시,종로구,삼청동,2301,1096,1205,1,2,...,0,0,0,0,0,0,0,0,0,0
3,1111055000,2023-04-30,서울특별시,종로구,부암동,9168,4334,4834,10,14,...,1,1,0,0,0,0,0,0,0,0

In [11]:
human_seoul.columns

Index(['행정기관코드', '기준연월', '시도명', '시군구명', '읍면동명', '계', '남자', '여자', '만0세남자',
       '만1세남자',
       ...
       '만101세여자', '만102세여자', '만103세여자', '만104세여자', '만105세여자', '만106세여자',
       '만107세여자', '만108세여자', '만109세여자', '만110세이상여자'],
      dtype='object', length=230)

In [12]:
# 사용할 컬럼
# '시도명','시군구명','읍면동명','계'
human_seoul_detail = human_seoul[['시도명','시군구명','읍면동명','계']]

          시도명  시군구명   읍면동명      계
0       서울특별시   종로구  청운효자동  11531
1       서울특별시   종로구    사직동   9104
2       서울특별시   종로구    삼청동   2301
3       서울특별시   종로구    부암동   9168
4       서울특별시   종로구    평창동  17520
...       ...   ...    ...    ...
3577  제주특별자치도  서귀포시    서홍동  11230
3578  제주특별자치도  서귀포시    대륜동  15586
3579  제주특별자치도  서귀포시    대천동  13640
3580  제주특별자치도  서귀포시    중문동  12294
3581  제주특별자치도  서귀포시    예래동   3899

[3582 rows x 4 columns]

In [4]:
# 사용할 컬럼 
# 시도명, 시군구명 ,계

In [13]:
human_seoul = human_seoul[['시도명','시군구명','계']]

          시도명  시군구명      계
0       서울특별시   종로구  11531
1       서울특별시   종로구   9104
2       서울특별시   종로구   2301
3       서울특별시   종로구   9168
4       서울특별시   종로구  17520
...       ...   ...    ...
3577  제주특별자치도  서귀포시  11230
3578  제주특별자치도  서귀포시  15586
3579  제주특별자치도  서귀포시  13640
3580  제주특별자치도  서귀포시  12294
3581  제주특별자치도  서귀포시   3899

[3582 rows x 3 columns]

In [14]:
# 서울특별시만 추출
human_seoul[human_seoul['시도명']=='서울특별시']

       시도명 시군구명      계
0    서울특별시  종로구  11531
1    서울특별시  종로구   9104
2    서울특별시  종로구   2301
3    서울특별시  종로구   9168
4    서울특별시  종로구  17520
..     ...  ...    ...
421  서울특별시  강동구  22816
422  서울특별시  강동구  22624
423  서울특별시  강동구  44809
424  서울특별시  강동구     64
425  서울특별시  강동구  24096

[426 rows x 3 columns]

In [20]:
human_seoul_detail=human_seoul_detail[human_seoul_detail['시도명']=='서울특별시']

       시도명 시군구명   읍면동명      계
0    서울특별시  종로구  청운효자동  11531
1    서울특별시  종로구    사직동   9104
2    서울특별시  종로구    삼청동   2301
3    서울특별시  종로구    부암동   9168
4    서울특별시  종로구    평창동  17520
..     ...  ...    ...    ...
421  서울특별시  강동구  성내제2동  22816
422  서울특별시  강동구  성내제3동  22624
423  서울특별시  강동구     길동  44809
424  서울특별시  강동구  둔촌제1동     64
425  서울특별시  강동구  둔촌제2동  24096

[426 rows x 4 columns]

In [15]:
human_seoul=human_seoul[human_seoul['시도명']=='서울특별시']

       시도명 시군구명      계
0    서울특별시  종로구  11531
1    서울특별시  종로구   9104
2    서울특별시  종로구   2301
3    서울특별시  종로구   9168
4    서울특별시  종로구  17520
..     ...  ...    ...
421  서울특별시  강동구  22816
422  서울특별시  강동구  22624
423  서울특별시  강동구  44809
424  서울특별시  강동구     64
425  서울특별시  강동구  24096

[426 rows x 3 columns]

In [17]:
#  시군구명, 계만 필요 시도명 컬럼 제거
human_seoul.drop(columns={'시도명'},inplace=True)

KeyError: "['시도명'] not found in axis"

In [22]:
human_seoul_detail.drop(columns=['시도명'],inplace=True)

C:\Users\hi-sinchon\AppData\Local\Temp\ipykernel_13412\527719756.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  human_seoul_detail.drop(columns=['시도명'],inplace=True)

In [12]:
human_seoul.to_csv('human_seoul.csv',encoding='utf-8',index=False)

In [24]:
human_seoul_detail.to_csv('human_seoul_detail.csv',encoding='utf-8',index=False)